
@define-color background rgba(10,11,6,0.55);
@define-color color7 rgba(194,197,180,1);
@define-color color9 rgba(179,182,161,1);

* {
    font-family: "Maple Mono", "Noto Sans", sans-serif;
    font-size: 14.5px;
    font-weight: bold;
}

window#waybar {
    all: unset;
}

.modules-left {
    margin: 8 0 0 8;
}

.modules-center {
    margin: 8 0 0 8;
    border-radius: 20px;
    background: alpha(@background, 1);
}

.modules-right {
    margin: 8 8 0 0;
}

#clock {
    padding: 6 10;
    color: @color7;
    border-radius: 20px;
    background: alpha(@background, 1);
    transition: all 0.3s ease;
}

#workspaces {
    padding: 0 10;
}

#workspaces button {
    all: unset;
    padding: 0 5;
    color: alpha(@color9, 0.4);
    transition: all 0.2s ease;
}

#workspaces button:hover {
    color: @color9;
    border: none;
    transition: all 0.5s ease;
}

#workspaces button.active {
    color: @color9;
    border: none;
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0);
    border: none;
}

#workspaces button.empty:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: @color9;
    border: none;
}

#custom-power {
    padding: 6 14 6 12;
    margin-left: 8px;
    border-radius: 20px;
    background: alpha(@background, 1);   
}

#tray {
    padding: 6 10;
    color: @color7;
    border-radius: 50px;
    background: alpha(@background, 1);
    transition: all 0.3s ease;
}
